*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

.header {

padding: 10px 20px 10px 5px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
background-color:#e3f2fd;
}


h1 {
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    position: relative;
    padding: 10px 0;
    color: rgb(2, 68, 90);
}


.title {
    font-weight: lighter;
    font-size: 30px;
    color:black;   
    background-color: #e3f2fd; 
    border: rgb(0, 0, 0) 1px solid;
    padding: 0px 10px;

}
.nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
 
.nav ul li a{
font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-top: 5px;
    color:  rgb(2, 68, 90);
    font-weight:bold;
    
}
   
.hero {
    background-image:url("../images/hero.png");
   
    display: flex;
    
    
    height: 1000px;
}
.container{
    display:flexbox;
    position: relative;
    justify-content: center;
    left:10px;
   
    
    
}
.container img{
    height: 150px;
    
}
.container p{
    font-size: 100px;
    font-weight: arial;
    color:rgb(252, 252, 252);
    margin-bottom: 100px;
    text-shadow: gold;
}
.btn {
    font-size: 30px;
    color: white;
}
#btn-container{
    margin:10px;
}

/*.picture img{
    height: 246px;
    left: 620px;
    position: relative;
    top: 117px;
    border-radius: 120px;
    margin: 2px;
    border: honeydew solid 1px;

}

*/

#About-me{
 position: relative;
 display: flexbox;
 justify-content: center;
    background-color: rgb(223, 253, 250);
    background-size: cover;
    margin: auto;
    height: 1000px;
   
}


.aboutMeTitle{
    font-size: 70px;
    color: black;
    padding: 10px;


}
.title-box{
    margin: 20px 0 ;
}
.info{
    font-size: 25px;
    margin: 0px 20px;
}




.work-cont {
    position: relative;
    display: flexbox;
    justify-content: center;
       background-color: rgb(223, 253, 250);
       background-size: cover;
       margin: auto;
       height: 800px;
      
}
.work-cont div h4 { 
    font-size: 50px;
    color: black;

   
}
.work-container{
    display: flexbox;
    justify-self: start;
    
    
}



.grid-container {
  display: grid;
  grid-template-columns:repeat(3,400px) ;
  grid-template-rows: repeat(3,200px);
  grid-column-gap:10px ;
  justify-content: flex-start;
  position: relative;
  


}
.grid-container > .grid-item {
    background-color: rgb(87, 255, 191);
    border: 2px solid rgb(255, 255, 255);
    padding: 30px;
    color: black;
    margin: 5px 0;

}
.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3 ;
    
    
}
.grid-item-1 img{
    position: relative;
    top: -30px;
    left: -30px;
    height: 381px;
    width: 800px;
    opacity:60%;
}
   
.grid-item-1 img:hover {
    opacity:100%;  
    background-image: url(../images/surf.jpg);
      
}

h6 {
    font-size: 24px;
    background-color: rgb(124, 123, 121);
    color: black;
    position: relative;
    bottom: 120px;
    left: -30px;
    padding: 5px;
    margin-right: 530px;
}

.grid-item-2 img{
    position: relative;
    top: -30px;
    left: -33px;
    height: 181px;
    width: 394px;
    opacity: 40%;
}
.grid-item-2:hover {
    opacity: %100;
    background-image: url("../images/ledwall.JPG");
    
}

h7 {
    position: relative;
    font-size: 24px;
    background-color: rgb(124, 123, 121);
    color: black;
    top: -93px;
    left: -33px;
    
}

.grid-item-3 {
    
    overflow: hidden;
}
.grid-item-3 img{
    position: relative;
    top: -34px;
    height: 189px;
    width: 402px;
    left: -31px;
    opacity: 60%;

}
.grid-item-3:hover{
    background-image: url("../images/calculator.jpg");
    opacity: %100;
    
}
h8 {
    font-size: 24px;
    background-color: rgb(124, 123, 121);
    color: black;
    position: relative;
    bottom: 111px;
    left: -30px;
    padding: 5px;
    margin-right: 530px;
}

    

.grid-item-4 {
    
   
    overflow: hidden;
}
.grid-item-4 img{
    position: relative;
    height: 194px;
    width: 415px;
    left: -43px;
    top: -40px;
opacity: 60%;
}
.grid-item-4 img:hover{
    background-image: url("../images/puzzle.jpg");
    opacity: 100%;
}
h9 {
    
    
        font-size: 24px;
        background-color: rgb(124, 123, 121);
        color: black;
        position: relative;
        bottom: 113px;
        left: -31px;
        padding: 5px;
        margin-right: 530px;
    
}


.grid-item-5 {
    
  overflow: hidden;
    
}
.grid-item-5 img{
    
    position: relative;
    height: 1114px;
    width: 415px;
    top: -31px;
    left: -34px;
    opacity: 60%;
}
.grid-item-5 img:hover{
    background-image: url("../images/run-buddy.jpg");
    opacity: 100%;
}
h10 {
    font-size: 24px;
    background-color: rgb(124, 123, 121);
    color: black;
    position: relative;
    bottom: -1237px;
    left: -30px;
    padding: 5px;
    margin-right: 0px;
    top: -1035px;
}
span {
    font-size: 15px;
}
.text-pic{
    display: inline-block;
}
.text-pic img{
    
    height: 246px;
    
  
    justify-content: center;
    border-radius: 120px;
    margin: 2px;
    border: honeydew solid 1px;

}
.text-pic img:hover{
    height:346px;

}
.contact {
    background-color: rgb(223, 253, 250);
    display: flexbox;
    justify-content: center;
      
       
       margin: auto;
       height: 800px;

}
.contact h4 { 
    font-size: 50px;
    color:  rgb(16, 16, 16);
    float: left;
    
}
.contact a img{
height: 200px;
margin: 10px;
}
.social a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:inline-flexbox;
    justify-content:center;
    color: rgb(17, 14, 189);
    font-size:25px;

}
.social{
    margin: 20px;
    display: inline;
}
